body{
background-color:rgb(11, 19, 43);
  margin: 0px;
  color: #FFFFFF;
  font-family:Poppins;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:24px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#root{
  display:flex;
  flex-direction: column;
}

.logo{
  margin-right: 40px;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.buttons{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  margin-left:20px;

}

.login-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  background: transparent;
  border: 2px solid #D4AF37;
  color:#D4AF37;
  border-radius: 12px;
}

.Register-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D4AF37;
  color:#FFFFFF;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size:54px;
  letter-spacing:2px;
  margin:0;
}

.sub-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
}

.content1 img{
  height: 336px;
  width:336px;
  border-radius: 167px;
  margin-right: 180px;
}

.content1{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:100px;

}

.text1{
  flex:1;
  padding-left:180px;
  font-size: 24px;

}

.text1 p{
  padding-bottom: 20px;
}