

body{
  background: linear-gradient(
  135deg,
  #0B132B 0%,
  #0B132B 45%,
  #1C2541 80%
);
margin: 0px;
min-height: 100hv;
display:flex;
flex-direction: column;
align-items: stretch;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:24px 60px;
  width: 1353.14px;
  height:166.24px;
}

.logo img{
  width: 194px;
  height: 191px;
  border-radius: 524.5px;
}

.buttons{
  display: flex;
  gap: 30px;
}
.login-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  background: transparent;
  border: 2px solid #D4AF37;
  color:#D4AF37;
  border-radius: 12px;
}

.Register-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D4AF37;
  color:FFFFFF;
}

