
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:24px 60px;
}

#root{
  display:flex;
  flex-direction: column;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.buttons{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  margin-left:20px;

}

.login-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  background: transparent;
  border: 2px solid #D4AF37;
  color:#D4AF37;
  border-radius: 12px;
}

.Register-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D4AF37;
  color:#FFFFFF;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size:64px;
  letter-spacing:2px;
  margin:0;
}

.sub-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
}

.content1 img{
  height: 336px;
  width:336px;
  border-radius: 155px;
  margin-right: 100px;
}

.content1{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:100px;

}

.text1{
  flex:1;
  padding-left:100px;
  font-size: 24px;
  word-spacing: 2px;
}

.text1 p{
  padding-bottom: 20px;
}

.content2{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  gap: 100px;
}

.pigimage img{
  border-radius: 46px;
  width: 304px;
  height: 304px;
  padding-left: 40px;
}

.text2{
  font-size: 24px;
  word-spacing: 2px;
  padding-right: 40px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.contact a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}