
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:24px 60px;
}

#root{
  display:flex;
  flex-direction: column;
}

.logo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.buttons{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
  margin-left:20px;

}

.Register-button,.login-button{
  width: 140.99px;
  height:53.02px;
  font-family: popins;
  font-weight: 600;
  border-radius: 12px;
  background-color: #D4AF37;
  color:#FFFFFF;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size:64px;
  letter-spacing:2px;
  margin:0;
}

.sub-title{
  color:#FFFFFF;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
}

.content1 img{
  height: 336px;
  width:336px;
  border-radius: 155px;
  margin-right: 100px;
}

.content1{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:100px;

}

.text1{
  flex:1;
  padding-left:100px;
  font-size: 24px;
  word-spacing: 2px;
}

.text1 p{
  padding-bottom: 20px;
}

.content2{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  gap: 100px;
}

.pigimage img{
  border-radius: 46px;
  width: 304px;
  height: 304px;
  padding-left: 40px;
}

.text2{
  font-size: 24px;
  word-spacing: 2px;
  padding-right: 40px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.contact a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.login-button:hover{
  background-color: transparent;
  color:#D4AF37;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Register-button:hover{
  background-color: transparent;
  color:#D4AF37;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginbody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:100px;
  background: transparent;
  border-radius: 61px;
  width: 616px;
  background-color: #232C4A;
  filter: drop-shadow(0 0 4px #000000);
  border: 1px solid #000000;
  padding-bottom: 30px;
}

.or{
  font-size: 36px;
  font-weight: 600;
}

.googlecard{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  width: 616px;
  height: 83px;
  background: transparent;
  background-color: #232C4A;
  filter: drop-shadow(0 0 4px #000000);
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
  color: #FFFFFF;
}

.googlecard:hover{
  transform: scale(1.05);
  color: #D4AF37;
}

.card h2{
  padding-top: 30px;
}

.inputbox{
  display: flex;
  flex-direction:row;
  gap:10px;
}

.inputbox label{
  color:white;
  font-size: 24px;
  letter-spacing: 2px;
}

.inputbox input{
  background:transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  padding: 8px 5px;
  font-size: 14px;
  text-align: center;
}

.login-bttn{
  background-color: #D4AF37;
  width: 265px;
  height: 64px;
  border-radius: 32px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.login-bttn:hover{
  transform: scale(1.05);
  background:transparent;
  color: #D4AF37;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
