
body{
  background-color:rgb(11, 19, 43);
  margin: 0px;
  color: #FFFFFF;
  font-family:Poppins;
}

#root{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(var(--vh,1vh)*100);
}


